  <%= form_for @form, url: translations_path,
    html: {id: 'translating-form', class: 'form-inline', role: 'form'} do |f| %>

    <div id="text-field" class="form-group">
      <%= f.label :text, 'Text', class: 'sr-only', for: 'text-field-input' %>
      <%= f.text_field :text, id: 'text-field-input', class: 'form-control',
        placeholder: 'Enter world', autofocus: true %>
    </div>
    <%= f.submit 'translate', id: 'submit-form', class: 'btn btn-success' %>
  <% end %>

  <div class="clearfix"></div>

  <% if @translation %>
    <div id="translated-word" class="row">
      <div class="col-md-4">
        <div class="text-center">
          <span class="big-text"><%= @translation.value %></span>
        </div>
      </div>

      <% @translation.probable_values.each do |group_name, values| %>
        <div id="context-examples" class="col-md-4">
          <h4>
            <strong><em><%= group_name %>:</em></strong>
          </h4>
          <ul>
            <% values.each do |value| %>
              <li><%= value %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <!-- TODO -->
      <div id="context-examples" class="col-md-4 temp">
        <h4>
          <strong><em>Context:</em></strong>
        </h4>
        <ul>
          <li>I will destroy this world!</li>
          <li>Hello world</li>
        </ul>
      </div>

    </div>
  <% end %>

  <%= render partial: 'translations', locals: {translations: @translations} %>

  <script type="text/javascript">
    (function () {
      var $container = $('.container'),
          $form = $('#translating-form'),

          $input = $form.find('#text-field-input'),
          $submit = $form.find('.btn');

      var inputWidth = $container.width() - $submit.width() - 40;
      $input.css('width', inputWidth);
    })();
  </script>